<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>372966693599-p9fe3488esj3gbru3ui93p4tr445ig3j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.372966693599-p9fe3488esj3gbru3ui93p4tr445ig3j</string>
	<key>API_KEY</key>
	<string>AIzaSyCTGCmAVN1LiG9OPiTvfMqkBg1DGQg5nGQ</string>
	<key>GCM_SENDER_ID</key>
	<string>372966693599</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.handshake.5746</string>
	<key>PROJECT_ID</key>
	<string>handshake-a55d9</string>
	<key>STORAGE_BUCKET</key>
	<string>handshake-a55d9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:372966693599:ios:920e3bba2e71125095a76a</string>
</dict>
</plist>